{
    "plugins": [
      "@babel/plugin-transform-runtime",
      "@babel/plugin-syntax-dynamic-import",
      // [ //当使用cdn的时候 这边不需要设置按需引入
      //   "component",
      //   {
      //     "libraryName": "element-ui",
      //     "styleLibraryName": "theme-chalk"
      //   }
      // ],
     ],
    "presets": [
      "@babel/preset-env"
    ]
}